@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'oleo script', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(#081b29, #081b29, #F86F03),url('image/gam.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
header{
    color:rgb(184, 179, 179);
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 60px;
    margin-top: 50px;
    
    }
    .logo img{
        height: 8vh;
    }
    .logo h3{
        color: #F86F03;
        font-size: 30px;
        margin-top: -50px;
        margin-left: 80px;
    }
    
    .nav ul{
        display: flex;
    }
    .nav ul li{
        list-style: none;
    }
    .nav ul li a{
        text-decoration: none;
        padding: 0px 20px;
        color: rgb(227, 238, 227);
    }
    .nav ul li a:hover{
        color:#F86F03;
        font-weight: bolder;
    }

    .user{
        cursor:pointer;
        color:#F86F03;
        margin-top: 40px;
        margin-right: 40px;
    }
    .user a{
        padding: 10px 30px;
        color: #F86F03;
        background-color: black;
        text-decoration: none;
        border-radius: 10px;
    }
    .user a:hover{
        background-color: #F86F03;
        color: #fff;
    }
    .user i{
        font-size: 20px;
        margin-right: 10px;
    }
    .user h4{
        border-radius: 40px;
        background:  #F86F03;
        padding: 10px 20px;
        margin-top: 40px;
        margin-right: 40px;
    }
    .user i{
        padding: 0px 14px;
    }
    .user h4:hover{
        color:#F86F03;
        background: black;
    }


    .heropage{
       position: absolute;
       color:#F86F03;
       margin-top: 100px;
       margin-left: 100px;
    }
    .inside-heropage{
        line-height:2;
    }
    .inside-heropage h1{
        font-size: 60px;
    }
    .inside-heropage p{
        font-size: 17px;
    }
    span{
        color: #F86F03;
        font-weight: bold;
    
    }
    .line1{
    height: 2px;
    background-color:#F86F03;
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    }
    
    .btn1{
        margin-top: 30px;
    }
    .btn1 a{
        background-color:black;
        color: #fff;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 30px;
    }
    .btn1 a:hover{
        background: #fff;
        color: #F86F03
    }
    
    .btn1 i{
        color:#F86F03;
        padding: 0px 10px;
    }
    .btn1 i:hover{
        color: #fff;
    }
    .poster{
        margin-top: 50px;
        margin-right: 150px;
       
    }
    .poster video{
        height:500px;
        float: right;
        border-radius: 10px;
    

       
      
    }
    .latest-movies{
        position: absolute;
        width:100%;
        height: 100%;
        background-color: #081b29;
        margin-top: 500px;
        padding: 0px 20px;
    }
    .latest-movies h1{
        font-size: 20px;
        color:#F86F03;
        
    }
    .latest-container{
        padding: 10px 0px;
    }
    .latest-container{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;
    }
    .latest-inside video{
        height: 122px;
        cursor: pointer;
        padding: 4px;
        transition: all 500ms ease-in-out;
    }
    .latest-inside video:hover{
        transform: scale(1.2);
    }
    
    .latest-inside img{
        height: 122px;
        cursor: pointer;
        padding: 4px;
        transition: all 500ms ease-in-out;
    }
    .latest-inside img:hover{
        transform: scale(1.2);
    }
    .heading1{
        color: #F86F03;
        line-height: 1.5;
    }
    .heading1 h4{
        font-size: 15px;
    }
    .heading1 h6{
        font-size: 12px;
    }
    .btn2{
        margin-top: -30px;
        margin-left: 150px;
    }

    .btn2 a{
        font-size: 13px;
        text-decoration: none;
        background: #F86F03;
        padding: 7px 7px;
        border-radius: 10%;
        color: white;
    
    }
    .FILMS-ACTIONS{
        position: absolute;
        width:100%;
        height: 100%;
        background: #081b29;
        padding: 0px 20px;
        color: #F86F03;
        margin-top: 850px;
    }
    .FILMS-ACTIONS h1{
        font-size: 20px;
        color:#F86F03;
    }
    .hollywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hollywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
        
       
    }
    .hollywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff;
        
    }
    .hollywood-inside img{
       height: 250px;
       border-radius: 10px;
       transition: all 500ms ease-in-out;
    }
    .hollywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background: #081b29;
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: #000;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more1{
        position: absolute;
        margin-top: 860px;
        margin-left: 1900px;
        font-size: 20px;
    }
    .more1 a{
    
        color:#F86F03;
        font-weight: bolder;
        text-decoration: none;
    }

    .more1 a:hover{
        color: #fff;
        cursor: pointer;
    }
    
    .tollywood-movies{
        position: absolute;
        width:100%;
        height: 100%;
        background: #081b29;
        padding: 0px 20px;
        color:#000;
        margin-top: 1300px;
    }
    .tollywood-movies h1{
        font-size: 20px;
        color:#F86F03;
    }
    .tollywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tollywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
       
    }
    .tollywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff;
        
    }
    .tollywood-inside img{
       height: 250px;
       transition: all 500ms ease-in-out;
       border-radius: 10px;
    }
    .tollywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background:linear-gradient(#081b29, #F86F03, #081b29, #F86F03 );
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: white;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    
    .collywood-movies{
        position: absolute;
        width:100%;
        height: 100%;
        background:#081b29;;
        padding: 0px 20px;
        color: white;
        margin-top: 1750px;
    }
    .collywood-movies h1{
        font-size: 20px;
        color:#F86F03;
    }
    .collywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
        color:#F86F03;
       
    }
    .collywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff;
        
    }
    .collywood-inside img{
       height: 250px;
       transition: all 500ms ease-in-out;
       border-radius: 10px;
    }
    .collywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background:#081b29;;
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: white;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more3{
        position: absolute;
        margin-top: 1300px;
        margin-left: 1900px;
        font-size: 20px;
    }
    .more3 a{
        color:#F86F03;
        font-weight: bolder;
        text-decoration: none;
    }
    .more3 a:hover{
        color: #fff;
        cursor: pointer;
    }
    .tollywood-movies{
        position: absolute;
        width:100%;
        height: 100%;
        background: #081b29;;
        padding: 0px 20px;
        color: white;
        margin-top: 1300px;
    }
    .tollywood-movies h1{
        font-size: 20px;
        color:#F86F03;
    }
    .tollywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tollywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
        color:#F86F03;
    }

    .tollywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff;
        
    }
    .tollywood-inside img{
       height: 250px;
       transition: all 500ms ease-in-out;
       border-radius: 10px;
    }
    .tollywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background: #081b29;
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: white;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more2{
        position: absolute;
        margin-top: 1730px;
        margin-left: 1900px;
        font-size: 20px;
    }
    .more2 a{
        color: #F86F03;
        font-weight: bolder;
        text-decoration: none;
    }

    .more2 a:hover{
        color: #fff;
        cursor: pointer;
    }

    .str{
        color: #EEEDED;
        font-size: 35px;
        
    }

    .st{
        color: #EEEDED;
        font-size: 60px;
    }
    .iollywood-movies{
        position: absolute;
        width:100%;
        height: 100%;
        background-color: #081b29;
        padding: 0px 20px;
        color: white;
        margin-top: 2200px;
    }
    .iollywood-movies h1{
        font-size: 20px;
        color:#F86F03;
    }
    .iollywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .iollywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
        color:#F86F03;
    }

    .iollywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff;
        
    }
    .iollywood-inside img{
       height: 250px;
       transition: all 500ms ease-in-out;
       border-radius: 10px;
    }
    .iollywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background: #F86F03;
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: white;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more4{
        position: absolute;
        margin-top: 2200px;
        margin-left: 1900px;
        font-size: 20px;
    }
    .more4 a{
        color:#F86F03;
        font-weight: bolder;
        text-decoration: none;
    }
    .more4 a:hover{
        color: #fff;
        cursor: pointer;
    }
    .sollywood-movies{
        position: absolute;
        width:100%;
        height: 75%;
        background: #081b29;
        padding: 0px 20px;
        color: white;
        margin-top: 2650px;
    }
    .sollywood-movies h1{
        font-size: 20px;
        color:#F86F03;
    }
    .sollywood-container{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sollywood-inside h3{
        font-size: 15px;
        font-weight:500;
        margin-top: 6px;
        color:#F86F03;
       
    }

    .sollywood-inside h3:hover{
        transition:.4s ease all ;
        color: #fff; 
    }
    .sollywood-inside img{
       height: 250px;
       border-radius: 10px;
       transition: all 500ms ease-in-out;
    }
    .sollywood-inside img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background: linear-gradient(#081b29, #F86F03, #081b29, #F86F03 );
        border-radius:20px;
        position:absolute;
        padding: 10px 10px;
        color: white;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more5{
    position: absolute;
     margin-top: 2650px;
     margin-left: 1900px;
     font-size: 20px;
    }
    .more5 a{
    
        color:#F86F03;
        font-weight: bolder;
        text-decoration: none;
    }

    .more5 a:hover{
        color: #fff;
    }
    
    .akira{
    
        position: absolute;
        height:100%;
        width: 100%;
        background: #081b29;
        color: #F86F03;
        margin-top: 3100px;
    }
    .yt-movies{
        padding: 10px 170px;
        line-height: 1.9;
    }
    .yt-movies h1{
        color:#F86F03;
    }
    .yt-movies p{
        font-size: 25px;
    }
    .line{
        height: 2px;
        background:#081b29;
        margin-left: 170px;
        position: absolute;
    }
    .yt-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inside-yt img{
        padding: 10px 0px;
        height: 350px;
        border-radius: 50px;
    }
    .heading2 p{
        font-size: 15px;   
    }
    .like{
        font-size: 15px;
        float: right;
        margin-top: -56px;
    }
    .youtubebtn{
        position:absolute;
        height:30%;
        background:#081b29;
        width: 100%;
        margin-top: 3700px;
        text-align: center;
    }
    .youtubebtn a{
        text-decoration: none;
        padding: 10px 30px;
        background:linear-gradient(#081b29, #F86F03, #081b29, #F86F03 );;
        color: black;
        font-weight: 700;
        border-radius: 40px;
    }
    .youtubebtn i{
        padding:0px 4px;
        font-size: 19px;
    }
    .footer{
        position: absolute;
        margin-top: 3860px;
        height: 20vh;
        color: white;
        background:#214966;
        width: 100%;
    }
    
    .logopart img{
        height:7vh;
        margin-left: 70px;
        margin-top: -50px;
    }
    .logopart h1{
        color:#F86F03;
        font-size: 25px;
        margin-top: 40px;
        margin-left: 120px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright{
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;
    }
    .socials i{
        font-size: 27px;
        margin-top: 30px;
        padding: 0px 4px;
        color: #F86F03;
    }
    .btn4{
        margin-right: 60px;
        margin-top: 30px;
    }
    .btn4 a{
        text-decoration: none;
        padding: 10px 25px;
        color: black;
        background: linear-gradient(#081b29, #F86F03, #081b29, #F86F03 );
        border-radius: 30px;
    }
    
    .scroll{
        position: fixed;
        width: 50px;
        height: 50px;
        background:linear-gradient(#081b29, #F86F03, #081b29, #F86F03 );
        border-radius: 50px;
        bottom: 100px;
        right: 50px;
        text-decoration: none;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
    }
    .scroll i{
        color: black;
    }
    .hamburger{
        background-color: transparent;
        border: 0;
        color: white;
        text-decoration: none;
        display: none;
        cursor: pointer;
    }
    .hamburger:focus{
        outline: none;
    }
    
    @media(max-width:360px)
    {
        .nav ul{
            display: none;
        }
        .hamburger {
            display: block; 
        }
    
    
    }